<div class="room-content">	
	<h1>Istabu saraksts</h1>
	<hr>

	<div *ngIf="rooms">
		<table class="task-list-table">
			<tr *ngFor="let room of rooms" class="task-list-item">
				<td class="item-title item-dt">
					<h4>{{room.title}}</h4>
				</td>
				<td class="item-enter item-dt">
					<input [disabled]="room.isPrivate && (room.ownerId !== user._id && room.allowedIds.indexOf(user._id) == -1)" type="button" name="enterRoom" class="btn btn-primary" (click)="enterRoom(room._id)" value="Pieslēgties istabai">
				</td>
				<td *ngIf="room.isPrivate" class="item-private item-dt">
					<div class="private-div"><b>Istaba ir privāta</b></div>
				</td>
				<td *ngIf="!room.isPrivate"></td>
			</tr>
		</table>
	</div>
	<div *ngIf="!rooms">Iegūst sarakstu...</div>
</div>