.room-content {
	margin-top: 10%;
}
.task-list-item {
	cursor: pointer;
}
.task-list-item:hover {
	background-color: #E0EEE0;
}
.task-checkbox {
	cursor: pointer;
}
.btn {
	border-radius: 0px;
}
.item-private {
	width: 15%;
	text-align: center;
}
.item-enter {
	width: 15%;
}
.item-title {
	width: 70%;
}
.item-dt {
	padding: 7px;
}
.task-list-table {
	width: 100%;
}
.private-div {
	border: 1px solid grey;
}