<div class="profile-content">
	<h1>Lietotāja '{{user.username}}' profils</h1>
	<hr>
		
	<div class="container">
		<div class="col-md-2 vert-centr-1"><span class="field-label">Lietotājvārds: </span></div>
		<div *ngIf="!editName" class="col-md-3 vert-centr">{{user.username}}</div>
		<div *ngIf="editName" class="col-md-3 vert-centr"><input type="text" [(ngModel)]="user.username" name="user.username"/></div>		
		<div class="col-md-7">
			<div *ngIf="!editName"><button class="btn btn-h" (click)="editName = true">Redīģēt</button></div>
			<div *ngIf="editName"><button class="btn btn-h" (click)="updateUsername()">Saglabāt</button> <button class="btn btn-h" (click)="cancelNameUpdate()">Atcelt</button></div>
		</div><br><br>
		<p class="msg-error">{{errName}}</p>

		<div class="col-md-2 vert-centr-1"><span class="field-label">E-pasts: </span></div>
		<div *ngIf="!editEmail" class="col-md-3 vert-centr">{{user.email}}</div>
		<div *ngIf="editEmail" class="col-md-3 vert-centr"><input type="text" [(ngModel)]="user.email" name="user.email"/></div>
		<div class="col-md-7">
			<div *ngIf="!editEmail"><button class="btn btn-h" (click)="editEmail = true">Redīģēt</button></div>
			<div *ngIf="editEmail"><button class="btn btn-h" (click)="updateEmail()">Saglabāt</button> <button class="btn btn-h" (click)="cancelEmailUpdate()">Atcelt</button></div>
		</div><br><br>
		<p class="msg-error">{{errEmail}}</p>

		<div class="col-md-2"><button class="btn btn-h">Mainīt paroli</button></div>
	</div>
	<br><br>
	
	<h1>Lietotāja izveidoto istabu saraksts</h1>
	<hr>

	<div class="task-list">
		<div *ngIf="rooms">
			<div *ngFor="let room of rooms" class="task-list-item">
				<div class="col-md-6">
					<h4>{{room.title}}</h4>
				</div>
				<div class="col-md-3">
					<input type="button" name="enterRoom" class="btn btn-primary" (click)="enterRoom(room._id)" value="Pieslēgties istabai">
				</div>
				<div *ngIf="room.isPrivate" class="private-div col-md-3">
					<b>Istaba ir privāta</b>
				</div>
				<br><br>
			</div>
		</div>
		<div *ngIf="!rooms">Iegūst sarakstu...</div>
	</div>
</div>