<form class="form-signin">
    <h2 class="form-signin-heading">Autorizēšanās</h2>
    <label for="inputUsername" class="sr-only">Email address</label>
    <input type="username" [(ngModel)]="localUser.username" name="localUser.username" id="inputUsername" class="form-control" placeholder="Lietotājvārds" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" [(ngModel)]="localUser.password" name="localUser.password" id="inputPassword" class="form-control" placeholder="Parole" required>
    <p class="msg-error">{{errorMessage}}</p>
    
    <button class="btn btn-lg btn-primary btn-block" (click)="login()">Ienākt</button>
    <div class="register-div"><a routerLink="/register" routerLinkActive="active">Reģistrēties</a></div>
    
</form>